# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv
venv/
env/

# Environment variables and secrets
.env
.env.*
# Vscode settings
.vscode

# Local utilities and history
users.db
_tmp_upload.jpg

models
pic
.sesskey